[Unit]
Description=Backup Google Drive to Backblaze
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=marcos
ExecStart=/usr/local/lib/march/backup_gdrive
StandardOutput=append:/var/log/backup.log
StandardError=append:/var/log/backup.log
MemoryMax=12G

[Install]
WantedBy=multi-user.target
