[Unit]
Description=Backup home directory to Backblaze
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=marcos
ExecStart=/usr/local/lib/march/backup
StandardOutput=append:/var/log/backup.log
StandardError=append:/var/log/backup.log
MemoryHigh=10G
MemoryMax=16G
MemorySwapMax=16G

[Install]
WantedBy=multi-user.target
