[Unit]
Description=Backup Google Drive to Backblaze
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=marcos
EnvironmentFile=-/etc/march/backup.env
ExecStart=/usr/local/lib/march/backup_gdrive
Nice=10
IOSchedulingClass=idle
TimeoutStartSec=24h
MemoryHigh=3G
MemoryMax=6G
MemorySwapMax=3G

[Install]
WantedBy=multi-user.target
