[Unit]
Description=Backup home directory to Backblaze
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=marcos
Environment="HOME=/home/marcos"
ExecStart=/home/marcos/code/march/scripts/backup
StandardOutput=append:/var/log/backup.log
StandardError=append:/var/log/backup.log

[Install]
WantedBy=multi-user.target
