[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[color "branch"]
  current = green
  remote = yellow

[color "diff"]
  commit = yellow bold
  meta = yellow
  func = cyan

[core]
  pager = less -FRSX
	editor = code -n -w

[alias]
  stat = !git --no-pager diff --stat
  c = !git add -A && git commit -m
  amend = !git add -A && git commit --amend --no-edit
  
  # Clean merged branches
  sweep = !git branch --merged master | grep -v 'master$' | xargs git branch -d && git remote prune origin

  # http://www.jukie.net/bart/blog/pimping-out-git-log
  lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cs) %C(bold blue)%an%Creset %C(auto)%d%Creset'
  lga = log --graph --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cs) %C(bold blue)%an%Creset %C(auto)%d%Creset'

  # Serve local repo. http://coderwall.com/p/eybtga
  # Then other can access via `git clone git://#{YOUR_IP_ADDRESS}/
  serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git

  m = checkout master

  # Removes a file from the index
  unstage = reset HEAD --

[help]
  autocorrect = 1

[push]
	default = simple

[branch "master"]
  mergeoptions = --no-edit
[user]
	email = mpcannabrava@gmail.com
	name = Marcos Cannabrava
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
