# common-sense ls we all want
alias la='ls -lAFhS --group-directories-first'

alias python=python3

# Show git aliases from oh-my-zsh git plugin
alias gitaliases='less ~/.oh-my-zsh/plugins/git/README.md'
alias aliases='nvim ~/.config/zsh/.aliases'

# Override oh-my-zsh git plugin gfa alias to fetch all and rebase current branch
alias gfa='git fetch --all --tags --prune && git rebase; git checkout "$(git symbolic-ref refs/remotes/origin/HEAD | sed "s|^refs/remotes/origin/||")" && git rebase && git checkout -'

# gcof alias to use checkout with fzf 
# TODO: instead of an alias, tab completion of the git checkout should call fzf
# https://thevaluable.dev/zsh-completion-guide-examples/
alias gcof='git checkout $(git branch | fzf)'

# e.g. git commits the parsed name of the current branch "marcoscannabrava/something/ticketcode" -> "something / ticketcode"
function gcommit() {
    if [[ $(git_current_branch) == "marcos"* || $(git_current_branch) == "mc"* ]]; then
        g c "$(git_current_branch | sed -E 's,(marcoscannabrava/|marcos/|mc/)?([^/]*)/(.*),\2: \3,g' | sed -e 's,[-_], ,g')"
    fi
}

function @c() {
    if [ -z "$1" ]; then
        curl cht.sh/:help | less
        return 1
    fi
    curl cht.sh/$1 | less
}

alias gmb='git merge-base @'

alias dotfiles='code ~/code/dotfiles'

alias notes='code ~/code/notes'

alias c='cd $(find ~/code -maxdepth 2 -type d ! -name ".*" | fzf)'

# override common-aliases plugin duf alias: list all file sorted by size
function duf-fn() {
    du -cha -d 1 "$@" | sort -hr
}
alias duf=duf-fn

alias sudomine="sudo chown -R $(whoami):$(whoami)"

alias rize=~/code/rize/dev.sh
alias rz='cd ~/code/rize && rize'
function rize-code() { code "$HOME/code/rize/$1"; }
alias rzc=rize-code


# ----------------- Cryptography ----------------- #
# encrypt / encode
function enc() {
    echo "$@" | openssl enc -kfile ~/code/m4s/infra/m4sdev_id_rsa -aes-256-ctr -pbkdf2 -a
}

# decrypt / decode
function dec() {
    openssl enc -kfile ~/code/m4s/infra/m4sdev_id_rsa -aes-256-ctr -pbkdf2 -a -d -
}
# ----------------- END Cryptography ----------------- #

# lol, the two commands Mac has going for it
if [ $XDG_SESSION_TYPE = "wayland" ]; then
  alias pbcopy='wl-copy'
  alias pbpaste='wl-paste'
else
  alias pbcopy='xclip -selection clipboard'
  alias pbpaste='xclip -selection clipboard -o'
fi

# download webpage
function web_archive() {
  if [ $# -eq 0 ]; then
    echo "Usage: web_archive [options] <url>"
    echo "Options:"
    echo "  -l [N]                  Limit the recursion depth"
    echo "  --domains=example.com   Limit the download to a specific domain"
    echo "  --span-hosts            Download files from other domains"
    return 1
  fi
  wget --recursive --no-clobber --convert-links --adjust-extension --page-requisites --no-parent "$@"
}
# Convert HTML to Markdown
function html-md() {
    pandoc -s -f html -t markdown --wrap=none $1
}

# View pretty Markdown in the terminal — hack that converts it to man pages format (groff)
function mdless() {
    pandoc -s -f markdown -t man --wrap=none $1 | man -l -
}


# nw = New Worktree, create a new git worktree for the given branch name
function nw() {
  if [[ -z "$1" ]]; then
    echo "Usage: ga [branch name]"
    exit 1
  fi

  local branch="$1"
  local base="$(basename "$PWD")"
  local path="../${base}--${branch}"

  git worktree add -b "$branch" "$path"
  mise trust "$path"
  cd "$path"
}

#               ------- Useful Docker Aliases --------                                  #
#     https://gist.githubusercontent.com/jgrodziski/9ed4a17709baad10dbcd4530b60dfcbb/   #

function dc-fn {
        docker compose $*
}

alias dc=dc-fn
alias dps="docker ps"

#               ------- END Docker Aliases --------                                  #


# ------- Misc Functions -------

# Linux Bluetooth Utility
function restart_bluetooth() {
  sudo rmmod btusb
  sudo modprobe -r btusb
  sudo modprobe btusb
  sudo systemctl restart bluetooth
}

# Resize Images - e.g. resize_image inputfile.png 300 outputdir/
function resize_image() {
  mogrify -path $3 -filter Triangle -define filter:support=2 -thumbnail $2 -unsharp 0.25x0.08+8.3+0.045 -dither None -posterize 136 -quality 82 -define jpeg:fancy-upsampling=off -define png:compression-filter=5 -define png:compression-level=9 -define png:compression-strategy=1 -define png:exclude-chunk=all -interlace none -colorspace sRGB $1
}

# Resize and convert Videos to mp4 - e.g. resize_video inputfile.mkv
function resize_video() {
  ffmpeg -i $1 -vf "scale=iw/1.2:-1" -vcodec libx265 -crf 30 "${1%.*}_resized.mp4"
}

function convert_webm_to_mp4() {
  ffmpeg -i $1 -vf "scale=trunc(iw/2)*2:trunc(ih/2)*2" $1.mp4
}

# Resize PDFs - e.g. resize_pdf inputfile.pdf
function resize_pdf() {
  gs -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dPDFSETTINGS=/ebook -dNOPAUSE -dQUIET -dBATCH -sOutputFile="${1%.*}_resized.pdf" $1
}

# Generate random string
function random_string() {
  if [[ "$1" == "-h" || "$1" == "--help" ]]; then
    echo "Usage: random_string [length] [chars]"
    echo "  length: number of characters (default: 32)"
    echo "  chars: character class (default: alnum)"
    echo "    options: alnum, alpha, digit, lower, upper, punct, graph, print, etc"
    return 1
  fi
  local length=${1:-32}
  local chars=${2:-"alnum"}
  tr -cd "[:$chars:]" </dev/urandom | head -c $length
}

mouse_jiggler() {
  if [ "`uname`" = "Darwin" ]; then
    source ~/code/sandbox/.jiggler/bin/activate
    if [ $? -ne 0 ]; then
      cd ~/code/sandbox
      python3 -m venv .jiggler
      source ~/code/sandbox/.jiggler/bin/activate
      pip install jiggler
      cd -
    fi
    jiggler
    exit 1
  fi
  while true; do
    xdotool mousemove_relative 1 1
    sleep 30
    xdotool mousemove_relative -- -1 -1
    sleep 30
  done
}

dim_screen() {
  xrandr --output eDP-1 --brightness 0.1
}
# ------- END Functions -------
